**/__pycache__
wandb/
wandb/*
optimization_all_collected_data/
optimization_all_collected_data/*
gp_play.py
old_code_delete_later/
old_code_delete_later/*
just_deprovision_instances.py
.vscode
set1.txt
set2.txt
misc.md
launch.sh
ruff.toml
submit_jobs.sh
runs/
tmp/
uv.lock